<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <h1>注册界面</h1>


    <label></label>
    <form id="f1" method="post" action="/register_succeed/">
    {% csrf_token %}
    请输入邮箱:<br>
        <label><input form="f1" type="text" name="email" value=""></label>

        <input  type="submit"  formaction="/send_mail_code/" value="发送验证码">
        <br>
    请输入验证码:<br>
    <label><input form="f1"  type="text" name="mail_code" value=""></label>
    <br>
    请输入密码:<br>
    <label><input form="f1" type="text" name="password" value=""></label>
    <br>
    请再次输入密码:<br>
    <label><input form="f1" type="text" name="repassword" value=""></label>
    <br>
    <br><br>
    <input form="f1" type="submit" value="提交注册">
    </form>
    {% if messages %}
        <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
        </script>
        {% endif %}
    <img src="" alt="">
</body>
</html>