<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>智能简历解析系统</h1>
    <label></label>
    <form method="post" action="/">
    {% csrf_token %}
    邮箱:<br>
     <label><input type="text" name="email" value=""></label>
    <br>
    密码:<br>
    <label><input type="text" name="password" value=""></label>
    <br><br>
    <input type="submit" value="登录">
    </form>
    <form method="post" action="/register/">
            {% csrf_token %}
            <p><input type="submit" value="注册"/></p>
    </form>

    {% if messages %}
        <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
        </script>
        {% endif %}

    <img src="" alt="">
</body>
</html>